*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(22, 0, 31);
}

.container{
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2);
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 8px;
    background-color: rgb(36, 0, 49);
}

header img {
    height: 40px;
    width: auto;
}

header p {
    font-size: 32px;
    font-weight: bolder;
    color: rgb(151, 163, 173);
}

h1 {
    font-size: 56px;
    font-weight: 800;
    text-align: center;
    color: rgb(151, 163, 173);
    padding-bottom: 80px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(36, 0, 49);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
    gap: 15px;
}

footer img {
    height: 32px;
    width: auto;
}

footer .copyright-text {
    color: rgb(151, 163, 173);
    font-size: 16px;
}

footer .author-name {
    color: rgb(151, 163, 173);
    font-size: 16px;
}


#gallery-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
}

#gallery-grid img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 2px solid rgb(140, 79, 161);
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#gallery-grid img:hover {
    box-shadow: 10px 15px 20px rgb(201, 142, 221);
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#gallery-grid button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

#imagePreview {
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 680px;
    overflow: hidden;
    background-color: rgb(36, 0, 49);
    margin: auto;
    border-radius: 40px;
}

#imagePreview[open] {
    display: flex;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.dialog-header h2 {
    color: rgb(151, 163, 173);
}

#dialogImage {
    width: 580px;
    height: 500px;
    flex-shrink: 0;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom: 50px;
}

#arrowLeft img {
    transform: scale(-1);
}

#counter {
    font-size: 18px;
    color: rgb(151, 163, 173);
}

#closeDialog, #arrowLeft, #arrowRight {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.dialog-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    width: 60%;
    padding-bottom: 50px;
}


@media (max-width: 1480px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1000px) {
    header {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    #gallery-grid{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    header img {
        height: 30px;
    }
    header p {
        font-size: 28px;
    }
    header {
        justify-content: center;
    }
    
    footer {
        gap: 10px;
    }

    #imagePreview {
        width: 343px;
        height: 600px;
    }

    #dialogImage {
        width: 300px;
        height: 400px;
    }

    .dialog-nav {
        margin-top: 10px;
    }
}

@media (max-width: 410px) {
    h1 {
        font-size: 40px;
    }
}